body{margin: 0px;}
*{border: solid red 1px;}

body{background-color: beige;}
p{color: blue;}
#parrafo_priincipal{color: blueviolet;}

.elemento{color: azure;}
#segundo_id{font-size: large;}

#titular{padding: 10px ;}
#titular{padding-left: 10px;}
#titular{padding: 0 0 0 10px;}
